html, body {
    height: 100%;
    padding: 1em;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

#__next {
    height: 100%;
}